    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Index</title>  
    </head>  
    <body>  
    <form method="POST" class="post-form" action="/film_update/{{film.film_id}}">
            {% csrf_token %}  
        <div class="container">  
    <br>  
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <h3>Update Details</h3>  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Film Id:</label>  
        <div class="col-sm-4">  
            <input type="text" name="film_id" id="id_film_id" required maxlength="20" value="{{ film.film_id }}"/>  
        </div>  
      </div>  
      <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Title:</label>  
        <div class="col-sm-4">  
            <input type="text" name="title" id="id_title" required maxlength="100" value="{{ film.title }}" />  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Description:</label>  
        <div class="col-sm-4">  
            <input type="text" name="description" id="id_description" required maxlength="254" value="{{ film.description }}" />  
        </div>  
      </div>  
        <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Released:</label>  
        <div class="col-sm-4">  
            <input type="date" name="release_year" id="id_release_year" required maxlength="15" value="{{ film.release_year }}" />  
        </div>
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Language:</label>  
        <div class="col-sm-4">  
            <input type="text" name="language" id="id_language" required maxlength="15" value="{{ film.language }}" />
        </div>  
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Rented for:</label>  
        <div class="col-sm-4">  
            <input type="text" name="rental_duration" id="id_rental_duration" required maxlength="15" value="{{ film.rental_duration" />  
        </div>  
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Rental rate:</label>  
        <div class="col-sm-4">  
            <input type="text" name="rental_rate" id="id_rental_rate" required maxlength="15" value="{{ film.rental_rate }}" />  
        </div>
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Length:</label>  
        <div class="col-sm-4">  
            <input type="text" name="length" id="id_length" required maxlength="15" value="{{ film.length }}" />  
        </div>
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Cost:</label>  
        <div class="col-sm-4">  
            <input type="text" name="replacement_cost" id="id_replacement_cost" required maxlength="15" value="{{ film.replacement_cost }}" />  
        </div>  
      </div>
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Rating:</label>  
        <div class="col-sm-4">  
            <input type="text" name="rating" id="id_rating" required maxlength="15" value="{{ film.rating }}" />
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Special features:</label>  
        <div class="col-sm-4">  
            <input type="text" name="special_features" id="id_special_features" required maxlength="15" value="{{ film.special_features }}" />  
        </div>
	<div class="form-group row">  
        <label class="col-sm-2 col-form-label">Last update:</label>  
        <div class="col-sm-4">  
            <input type="date" name="last_update" id="id_last_update" required maxlength="15" value="{{ film.last_update }}" />  
        </div> 
        </div>
        <div class="form-group row">  
        <label class="col-sm-1 col-form-label"></label>  
        <div class="col-sm-4">  
        <button type="submit" class="btn btn-success">Update</button>  
        </div>  
      </div>  
    </div>
    </form>  
    </body>  
    </html>  
