    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Employee Records</title>  
         {% load staticfiles %}  
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    </head>  
    <body>  
    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Actor ID</th>  
            <th>Actor First Name</th>  
            <th>Actor Last Name</th>  
            <th>Last updated:</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for employee in employees %}  
        <tr>  
            <td>{{ actor.actor_id }}</td>  
            <td>{{ actor.first_name }}</td>  
            <td>{{ actor.last_name }}</td>  
            <td>{{ actor.Last_update }}</td>  
            <td>  
                <a href="/edit/{{ actor.actor_id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                <a href="/delete/{{ actor.actor_id }}">Delete</a>  
            </td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
    </body>  
    </html>  
